.container {
    max-width: 1000px;
    margin: 0 auto;
}

.col-3 {
    width: 25%;
    display: inline-block;
}

.col-9 {
    width: 74%;
    display: inline-block;
}

.fa {
    font-size: 60px;
}

.footer {

height: 50px;

}